[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = "==2022.5.18.1"
chardet = "==4.0.0"
click = "==7.1.2"
idna = "==3.3"
itsdangerous = "==1.1.0"
python-dotenv = "==0.20.0"
requests = "==2.27.1"
stripe = "==3.4.0"
toml = "==0.10.2"
urllib3 = "==1.26.9"
Flask = "==1.1.4"
Jinja2 = "==2.11.3"
MarkupSafe = "==2.1.1"
Werkzeug = "==1.0.1"

[requires]
python_version = "3.8"
