[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = "==2019.3.9"
chardet = "==3.0.4"
click = "==7.0"
idna = "==2.8"
itsdangerous = "==1.1.0"
python-dotenv = "==0.10.3"
requests = "==2.22.0"
stripe = "==2.29.3"
toml = "==0.9.6"
urllib3 = "==1.25.3"
Flask = "==1.0.3"
Jinja2 = "==2.10.1"
MarkupSafe = "==1.1.1"
Werkzeug = "==0.15.5"

[requires]
python_version = "3.8"
